<!DOCTYPE html>
<html lang="en">

@head("Presupuestos asignados a beneficios")

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
	<!--
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
	-->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
		@navbar()
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
		@sidebar("beneficio")
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Beneficio</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
							<li>Administración / <a href="/beneficios">Beneficios</a> / Beneficio </li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Descripción Beneficio -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
							<div class="row">
								<div class="col-md-6">
									<div class="desc-beneficio">
										<h4>Beneficio</h4>
										<div id="beneficio"></div>
									</div>
									<div class="desc-beneficio">
										<h4>Categoría</h4>
										<div id="categoria"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="desc-beneficio">
										<h4>Subcategoría</h4>
										<div id="subcategoria"></div>
									</div>
									<div class="desc-beneficio">
										<h4>País</h4>
										<div id="pais"></div>
									</div>
								</div>
							</div>
						</div> <!-- /white-box -->
					</div> <!-- /col -->
				</div> <!-- /row -->

                <!-- ============================================================== -->
                <!-- table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Presupuestos asociados a beneficio</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Presupuesto asignado</th>
                                            <th>Vigencia</th>
                                        </tr>
                                    </thead>
									<tbody id="presupuestos">

                                    </tbody>
                                </table>
							</div> <!-- /table-responsive -->
							<div class="form-group">
								<div class="col-sm-12">
									<button id="btn-open-modal" class="btn btn-success">Ingresar Presupuesto</button>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Recursos Humanos, BASF</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
	<div id="presupuesto-modal" class="modal" role="dialog">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" id="btn-close-modal" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Ingresar Presupuesto</h4>
		  </div>
		  <div class="modal-body">
			<form id="put-presupuesto" class="form-horizontal form-material">
				<input type="hidden" name="moneda-id" id="moneda-id" value="1"></input>
				<div class="form-group">
					<label for="monto" class="col-md-12">Monto</label>
					<div class="col-md-12">
						<input type="number" placeholder="" class="form-control form-control-line" name="monto" id="monto"></input>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<select placeholder="Selecciona una moneda" class="form-control form-control-line" name="moneda_id" id="moneda-id">
						
							<option value="1">Pesos Chilenos</option>
							<option value="2">Soles</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12">Periodo</label>
					<div class="col-md-12">
						<input type="date" placeholder="" class="form-control form-control-line" name="solicitado_en" id="solicitado"></input>
					</div>
				</div>
		  <div class="modal-footer">
			<button id="btn-submit-modal" type="button" class="btn btn-danger" data-dismiss="modal">Crear</button>
		  </div>
			</form>
		  </div>
		</div>
	  </div>
	</div> <!-- /Modal -->
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/beneficio.js")"> </script>
</body>

</html>
