<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("assets/images/favicon.png")">
    <title>BASF - Beneficios</title>
    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
	<!--
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
	-->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
		@navbar()
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
		@sidebar("beneficio")
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Beneficio</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
							<li>Administración / <a href="/beneficios">Beneficios</a> / Beneficio </li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Descripción Beneficio -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
							<div class="row">
								<div class="col-md-6">
									<div class="desc-beneficio">
										<h4>Beneficio</h4>
										<div id="beneficio"></div>
									</div>
									<div class="desc-beneficio">
										<h4>Categoría</h4>
										<div id="categoria"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="desc-beneficio">
										<h4>Subcategoría</h4>
										<div id="subcategoria"></div>
									</div>
									<div class="desc-beneficio">
										<h4>País</h4>
										<div id="pais"></div>
									</div>
								</div>
							</div>
						</div> <!-- /white-box -->
					</div> <!-- /col -->
				</div> <!-- /row -->

                <!-- ============================================================== -->
                <!-- table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Presupuestos asociados a beneficio</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Presupuesto asignado</th>
                                            <th>Vigencia</th>
                                        </tr>
                                    </thead>
									<tbody id="presupuestos">

                                    </tbody>
                                </table>
							</div> <!-- /table-responsive -->
							<div class="form-group">
								<div class="col-sm-12">
									<button id="btn-modal" class="btn btn-success">Ingresar Presupuesto</button>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Recursos Humanos, BASF</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
	<div id="presupuesto-modal" class="modal" role="dialog">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" id="close-modal" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Ingresar Presupuesto</h4>
		  </div>
		  <div class="modal-body">
			<form id="put-presupuesto" class="form-horizontal form-material">
				<input type="hidden" name="moneda-id" id="moneda-id" value="1"></input>
				<div class="form-group">
					<label for="monto" class="col-md-12">Monto</label>
					<div class="col-md-12">
						<input type="number" placeholder="" class="form-control form-control-line" name="monto" id="monto"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12">Periodo</label>
					<div class="col-md-12">
						<input type="date" placeholder="" class="form-control form-control-line" name="solicitado_en" id="solicitado"></input>
					</div>
				</div>
			</form>
		  </div>
		  <div class="modal-footer">
			<button id="btn-put-presupuesto" type="button" class="btn btn-danger" data-dismiss="modal">Crear</button>
		  </div>
		</div>
	  </div>
	</div> <!-- /Modal -->
	<script type="text/javascript">

function $(id) {return document.getElementById(id); }

$("btn-modal").addEventListener("click", function() {
	$("presupuesto-modal").style.display = "inherit";
});

$("close-modal").addEventListener("click", function() {
	$("presupuesto-modal").style.display = "none";
});


	const jwt = document.cookie.split("=").reduce((acc, item) => acc == "jwt" ? item : null); 
	var hs = new Headers();
	hs.append("Authorization", "Bearer " + jwt);
	const bid = window.location.href.split("/").pop();
	const url = "/api/beneficio/" + bid;
	const opts = {method: 'GET', headers: hs};
	const dataPromise = getJson(url, opts);


	var allowed = ["beneficio", "categoria", "subcategoria", "pais"];

	dataPromise.then( beneficio => {
			Object.keys(beneficio)
				.filter(x => allowed.indexOf(x) !== -1)
				.map($)
				.forEach( elem => createP(elem, beneficio[elem.id]))
			return beneficio;
	}
	).then( b => b.presupuesto.map(plotRow))

	dataPromise
		.then(prop('presupuesto'))
		.then(map(filterObj(["monto", "asignacion"])))
		.then(map(modifyField("monto", prepend("$") )))
		.then(map(tr("presupuestos")))
		.then(run);
		
function map(func) {
	return function(array) {
		return array.map( function(value) { return func(value) })
	}
}

function prepend(char) {
	return function(str) {
		return str == null ? 'N/A' : char + str;	
	}
}

function prop(p) {
	return function(o) {
		return o[p];
	}
}

function filterObj(fields) {
	return function(obj) {
		if (!Array.isArray(fields)) 
			throw new TypeError("filterObj() requiere un array", "lib.js");
		var o = {};
		fields.forEach(function(field) { 
			o[field] = obj[field];
		});
		return o;
	}
}

function modifyField(field, func) {
	return function(obj) {
		obj[field] = func(obj[field]);
		return obj;
	};
}

function prop(p) {
	return function(o) {
		return o[p];
	}
}

function createP(elem, text) {
	let p = document.createElement("p");
	p.textContent = text;
	elem.append(p);
}

function getJson(url, opts) {
	opts = opts || {};
	return fetch(url, opts).then( res => res.json())
}	

function plotRow(row) {
	var tr = document.createElement('tr');
	Object.keys(row).forEach( function(col) {
		var td = document.createElement('td');
		tr.appendChild(td);
		td.textContent = row[col];
	})
	return tr;
}

$('btn-put-presupuesto').addEventListener('click', sendForm);

function sendForm() {
	var f = new FormData($("put-presupuesto"));
	var $f = new Form($('put-presupuesto'));
	f.append("beneficio_id", window.location.href.split("/").pop());
	hs.append('Content-Type', 'application/x-www-form-urlencoded');
	var urlEncoded = urlencodeFormData(f);
	var opts = { 
		method: "PUT",
		body:urlEncoded,
		headers: hs
	}
	var sent = fetch("/api/presupuesto", opts)
	sent
		.then($f.map())
		.then(tr('presupuestos'))
		.then(run)
		.then(function(d) {$('presupuesto-modal').style.display = "none"; return d})
}

function urlencodeFormData(fd){
    var s = '';
    function encode(s){ return encodeURIComponent(s).replace(/%20/g,'+'); }
    for(var pair of fd.entries()){
        if(typeof pair[1]=='string'){
            s += (s?'&':'') + encode(pair[0])+'='+encode(pair[1]);
        }
    }
    return s;
}

function tr(father) {
	return function(rowObj) {
		var tr = document.createElement("tr");
		tr.fatherId = father;
		return Object.keys(rowObj).map( function(col) {
			var td = document.createElement('td');
			td.textContent = rowObj[col];
			return td;
		}).reduce ( function( ac, e ) { 
			ac.appendChild(e);
			return ac
		}, tr);
	}
}

function run(els) {
	if (Array.isArray(els))
		return els.map( function (el) {
			$(el.fatherId).appendChild(el);
			return el;
		});
	return $(els.fatherId).appendChild(els);
}

function Form($form) {
	var o = {};
	var els = $form.elements
	var l = els.length;
	var i = 0;
	for(i;i<l;i++) {
		var el = els.item(i);
		if (el.type == 'hidden') continue;
		if (el.nodeName === 'SELECT') {
			o[el.id] = el.options.item(el.options.selectedIndex).label;
			continue;
		}
		o[el.id] = [el.value]	
	}
	this.obj = o;
}

Form.prototype.map = function() {
	var self = this;
	return function (_) {
		return self.obj;
	}
}

	</script>
</body>

</html>
