<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("assets/images/favicon.png")">
    <title>BASF - Beneficios</title>
    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
	<!--
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
	-->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
		@navbar()
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
		@sidebar("colaboradores")
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Búsqueda de colaboradores</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
							<li><a href="#">Dashboards</a> / Colaboradores</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!--row -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
							<!--<h3 class="box-title">Lista de colaboradores</h3>-->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>NOMBRE</th>
                                            <th>DNI/RUT</th>
                                        </tr>
                                    </thead>
									<tbody id="colaboradores">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Recursos Humanos, BASF</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
<script type="text/javascript">

document.addEventListener('DOMContentLoaded', init, false);

function init() {
	const jwt = document.cookie.split("=").reduce((acc, item) => acc == "jwt" ? item : null); 
	var hs = new Headers();
	hs.append("Authorization", "Bearer " + jwt);
	const url = "/api/colaborador/search?searchterm=" + parseQueryString(location.search).searchterm;
	const opts = {method: 'GET', headers: hs};
	const dataPromise = getJson(url, opts);

	dataPromise
		.then(foo)
		.then(plotSolicitudes);
}

function foo(data) {
	return data.map(filter);
}

function filter(o) {
	var keys = ['id', 'colaborador', 'run', 'pais'];
	var obj = Object.keys(o)
	  .filter(key => keys.includes(key))
	  .reduce((obj, key) => {
		obj[key] = o[key];
		return obj;
	  }, {});

	return obj;
}

function plotSolicitudes(data) {
	var dfRows = data.map(row => plotRow(row))
			.reduce( (p,n) => {p.append(n); return p}, document.createDocumentFragment());
	document.getElementById("colaboradores").append(dfRows);
}

function plotRow(row) {
	var tr = document.createElement('tr');
	Object.keys(row).forEach( function(col) {
		if (col == 'id') return;
		var td = document.createElement('td');
		var a = document.createElement('a');
		tr.appendChild(td);
		td.appendChild(a);
		a.href= "/colaborador/" + row.id;
		a.textContent = row[col];
	})
	return tr;
}


function getJson(url, opts) {
	opts = opts || {};
	return fetch(url, opts).then( res => res.json())
}	

function parseQueryString(url) {
  var urlParams = {};
  url.replace(
    new RegExp("([^?=&]+)(=([^&]*))?", "g"),
    function($0, $1, $2, $3) {
      urlParams[$1] = $3;
    }
  );
  
  return urlParams;
}

</script>

</body>

</html>
