<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicon.png")">
    <title>BASF - Beneficios</title>
    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
	<!--
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
	-->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
		@navbar()
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
		@sidebar("colaborador")
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Solicitudes de Beneficio</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Inicio</a></li>
                            <li class="active">Colaborador</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="@routes.Assets.versioned("images/perfil-placeholder.jpg")">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="@routes.Assets.versioned("images/perfil-placeholder.jpg")" class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white">
											<i id="colaborador"></i>&nbsp;
											<i id="apellido"></i>
										</h4>
                                        <h4 id="ciudad" class="text-white">

										</h4>
                                        <h5 id="cargo" class="text-white">COO</h5> </div>
                                </div>
                            </div>
                            <div class="user-btm-box">
                                <div class="col-md-4 col-sm-4 text-center">
                                    <p class="text-purple"><i class="ti-facebook"></i></p>
                                    <h1 id="run"></h1> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>FECHA SOLICITUD</th>
											<th>FUE APROBADO</th>
                                            <th>MONTO</th>
                                            <th>BENEFICIO</th>
                                        </tr>
                                    </thead>
									<tbody id="solicitudes">
                                    </tbody>
                                </table>
                            </div>
							<div class="form-group">
								<div class="col-sm-12">
									<button id="btn-modal" class="btn btn-success">Ingresar Beneficio</button>
								</div>
							</div>
						</div> <!-- /White Box -->
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Recursos Humanos, BASF</footer>
		</div> <!--page-wrapper-->
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>

	<!-- Modal -->
	<div id="myModal" class="modal" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" id="close-modal" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Ingresar Beneficio</h4>
		  </div>
		  <div class="modal-body">
			<form id="putBeneficio" class="form-horizontal form-material">
				<div class="form-group">
					<label class="col-sm-12">Beneficio</label>
					<div class="col-sm-12">
						<select id="beneficio_id" name="beneficio_id" class="form-control form-control-line">
							<option value="1">Benef 1</option>
							<option value="2">Benef 2</option>
							<option value="3">Benef 3</option>
							<option value="4">Benef 4</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="-email" class="col-md-12">Monto</label>
					<div class="col-md-12">
						<input type="number" placeholder="" class="form-control form-control-line" name="monto" id="monto"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12">Fecha de solicitud</label>
					<div class="col-md-12">
						<input type="date" placeholder="" class="form-control form-control-line" name="solicitado" id="solicitado"></input>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<label for="es_aprobado" class="col-md-12">¿Está aprobado?</label>
						<input id="es_aprobado" type="checkbox" name="es_aprobado"></input>
					</div>
				</div>
			</form>
		  </div>
		  <div class="modal-footer">
			<button id="btn-send" type="button" class="btn btn-danger" data-dismiss="modal">Crear</button>
		  </div>
		</div>
	  </div>
	</div> <!-- /Modal -->
	<script type="text/javascript">

document.addEventListener('DOMContentLoaded', init, false);

function $(selector) {
	return document.getElementById(selector);
}

function init() {
	const jwt = document.cookie.split("=").reduce((acc, item) => acc == "jwt" ? item : null); 
	var hs = new Headers();
	hs.append("Authorization", "Bearer " + jwt);
	const uid = window.location.href.split("/").pop();
	const url = "/api/colaborador/" + uid;
	const opts = {method: 'GET', headers: hs};
	const dataPromise = getJson(url, opts);

	$("btn-modal").addEventListener("click", function() {
		$("myModal").style.display = "inherit";
	});

	$("close-modal").addEventListener("click", function() {
		$("myModal").style.display = "none";
	});

	$("btn-send").addEventListener("click", function() {
		//add solicitud
		var solicitud = ['beneficio_id', 'monto', 'es_aprobado', 'solicitado'];
		//send FormData
		var f = new FormData($("putBeneficio"));
		f.append("colaborador_id", uid);
		fetch("/api/solicitud", Object.assign({}, opts, {body:f}, {method:"PUT"}))

		$("solicitudes").appendChild(plotRow(solicitud.map( s  => ({[s]:foo(s)})).reduce( (p,c) => Object.assign(p, c), {})));

		//close modal
		$("myModal").style.display = "none";

		function foo(inputId) {
			return $(inputId).value
		}
	});

	dataPromise
		.then(plotToElem)
		.then(plotSolicitudes);
}

function plotToElem(data) {
	var keys = ['colaborador', 'apellido', 'ciudad', 'run'];
	var obj = Object.keys(data)
	  .filter(key => keys.includes(key))
	  .reduce((obj, key) => {
		obj[key] = data[key];
		return obj;
	  }, {});

	for (const id in obj) {
		$(id).textContent = data[id];
	}
	return data;
}

function filter(o) {
	var keys = ['beneficio_id', 'monto', 'es_aprobado', 'solicitado'];
	return Object.keys(o)
	  .filter(key => keys.includes(key))
	  .reduce((obj, key) => {
		obj[key] = o[key];
		return obj;
	  }, {});
}

function plotSolicitudes(data) {
	var dfRows = data.json_agg
			.map(filter)
			.map(obj => Object.assign({}, obj, {es_aprobado: obj.es_aprobado ? "Sí" : "No"}))
			.map(row => plotRow(row))
			.reduce( (p,n) => {p.append(n); return p}, document.createDocumentFragment());
	$("solicitudes").append(dfRows);
}

function plotRow(row) {
	var tr = document.createElement('tr');
	Object.keys(row).forEach( function(col) {
		var td = document.createElement('td');
		tr.appendChild(td);
		td.textContent = row[col];
	})
	return tr;
}


function getJson(url, opts) {
	opts = opts || {};
	return fetch(url, opts).then( res => res.json())
}	
	</script>
</body>

</html>
