@(solicitudForm: Form[SolicitudData])(implicit messages: Messages)

@if(solicitudForm.hasGlobalErrors) {
  <ul>
	  @for(error <- solicitudForm.globalErrors) {
		<li>@Messages(error.messages, error.args)</li>
	  }
  </ul>
}

@helper.form(action = routes.HomeController.index()) {
	@helper.inputText(solicitudForm("colaborador_id"))
	@helper.inputText(solicitudForm("beneficio_id"))
	@helper.inputDate(solicitudForm("solicitado"))
	@helper.inputDate(solicitudForm("resuelto"))
	@helper.checkbox(solicitudForm("es_aprobado"))
	@helper.inputText(solicitudForm("monto"))
	@helper.inputText(solicitudForm("moneda_id"))
}
