<!DOCTYPE html>
<html lang="en">

@head("Página principal")

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
	<!--
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
	-->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
		@navbar()
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
		@sidebar("beneficio")
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Página de inicio</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
							<li><a href="/">Inicio</a> </li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!--row -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
							<h1> Hola, Libia</h1>
							<p> Te damos la bienvenida al sistema de reportería y registro de beneficios en BASF. A través de este sistema podrás:</p>

							<ul>
								<li>Evaluar el uso, aceptación y costo de los distintos programas de beneficios.</li>
								<li>Registrar información histórica de uso de beneficios de los colaboradores.</li>
								<li>Registrar presupuestos periódicos para cada beneficio.</li>
							</ul>
							<p></p>
							<div class="row">
								<div class="col-md-3">
								  <img class="card-img-top" src="@routes.Assets.versioned("images/efectividad-card.jpg")" alt="Efectividad">
								  </img>
								  <div class="card-block">
									<h4 class="card-title">Efectividad</h4>
									<p class="card-text">Encuentra aquí reportes que responderán a tus pregunas sobre ¿qué beneficios significan un mayor gasto? ¿cuáles han recibido las mejores valoraciones? y ¿con qué recurrencia son solicitados?</p>
									<a href="/efectividad" class="btn btn-primary">Ir a reporte</a>
								  </div>
								</div>
								<div class="col-md-3">
								  <img class="card-img-top" src="@routes.Assets.versioned("images/recurrencia-card.png")" alt="Card image cap"/>
								  <div class="card-block">
									<h4 class="card-title">Recurrencia </h4>
									<p class="card-text">Usa estos reportes para evaluar que beneficios han sido más solicitados y cuále son las preferencias de distintos grupos demográficos al elegirlos.</p>
									<a href="/popularidad" class="btn btn-primary">Ir a reporte</a>
								  </div>
								</div>
								<div class="col-md-3">
								  <img class="card-img-top" src="@routes.Assets.versioned("images/respuesta-card.jpg")" >
								  </img>
								  <div class="card-block">
									<h4 class="card-title">Tiempo de respuesta</h4>
									<p class="card-text">Descubre qué solicitudes tardan mayor tiempo en ser respondidas y qué beneficios tienen las tasas más bajas de aprobación.</p>
									<a href="/respuesta" class="btn btn-primary">Ir a reporte</a>
								  </div>
								</div>
								<div class="col-md-3">
									<img class="card-img-top" src="@routes.Assets.versioned("images/tutorial-card.jpg")" alt="Tutorial"></img>
								  <div class="card-block">
									<h4 class="card-title">Tutorial de uso</h4>
									<p class="card-text">Encuentrá aquí un tutorial de uso de la plataforma para realizar las principales tareas.</p>
									<a href="#" class="btn btn-primary">Ver video</a>
								  </div>
								</div> <!--col-md-4-->
							</div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Recursos Humanos, BASF</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
</body>
</html>
