<!DOCTYPE html>
<html lang="en">

@head("Tiempo de respuesta")

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
	<!--
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
	-->
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
		@navbar()
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
		@sidebar("respuesta")
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Tiempo de respuesta</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
							<li><a href="#">Inicio</a> / Tiempo de respuesta</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <!-- .row -->
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Panel tiempo de respuesta</h3>
							<p>Los siguientes gráficos identifican las mayores demoras en la resolución de solicitudes y el porcentaje de ellas que son aprobadas.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Demora promedio de resolución</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">3.2 días</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Porcentaje de solicitudes aprobadas</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">80%</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/.row -->
                <!--row -->
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="white-box">
							<select id="top5-select" class="pull-right row form-control" style="display: inline;width:auto;">
								<option>Perú</option>
								<option>Chile</option>
								<option>BCW</option>
							</select>
							<div id="top-5-respuesta"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Aprobación por área</h3>
							<div id="aprobacion-por-area"></div>

                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Recursos Humanos, BASF</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script type="text/javascript">

var top5 = Highcharts.chart('aprobacion-por-area', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Porcentaje de aprobación de solicitudes'
    },
    subtitle: {
        text: 'Áreas con menor porcentaje de aprobación'
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Porcentaje de aprobación(%)'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Aprobación de <b>{point.y:.1f} </b>'
    },
	credits: false,
    series: [{
        name: 'Menor aprobación por área',
        data: [
            ['SAF', 23.7],
            ['ED', 16.1],
            ['S-FP', 14.2],
            ['S-FT', 14.0],
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});

var top5 = Highcharts.chart('top-5-respuesta', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Tiempo de respuesta a solicitudes'
    },
    subtitle: {
        text: 'Beneficios con solicitudes con mayor demora de respuesta'
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Tiempo de respuesta (días)'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Respuesta de <b>{point.y:.1f} días</b>'
    },
	credits: false,
    series: [{
        name: 'Tiempo de respuesta',
        data: [
            ['Lactancia', 23.7],
            ['Bono escolaridad', 16.1],
            ['Bono educación superior', 14.2],
            ['Canasta navidad', 14.0],
            ['Bono atención dental', 12.5],
        ],
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});

function $(id) {return document.getElementById(id);}

$("top5-select").onchange = function(ev) {
	var d = [
				['Lactancia', 53.7],
				['Bono escolaridad', 16.1],
				['Bono educación superior', 14.2],
				['Canasta navidad', 14.0],
				['Bono atención dental', 12.5]
			];

	var d2 = d.map( function (bar) {
		return [bar[0], bar[1] * Math.random() * 1.2];
	});

	top5.series[0].update({data: d2});
}

	</script>

</body>

</html>
