@(active: String)

<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav slimscrollsidebar">
		<div class="sidebar-head">
			<h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
		</div>
		<ul class="nav" id="side-menu">
			<li style="padding: 70px 0 0;">
				<a href="/home" class="waves-effect"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Inicio</a>
			</li>
			<li>
				<a href="/efectividad" class="waves-effect"><i class="fa fa-bar-chart-o fa-fw" aria-hidden="true"></i>Efectividad</a>
			</li>
			<li>
				<a href="/popularidad" class="waves-effect">
					<i class="fa fa-bar-chart-o fa-fw" aria-hidden="true"></i>
					Recurrencia
				</a>
			</li>
			<li>
				<a href="/respuesta" class="waves-effect">
					<i class="fa fa-bar-chart-o fa-fw" aria-hidden="true"></i>
					Tiempo de Respuesta
				</a>
			</li>
			<li>
				<a href="/beneficios" class="waves-effect">
					<i class="fa fa-table fa-fw" aria-hidden="true"></i>
					Beneficios
				</a>
			</li>
		</ul>

		<!--<div class="center p-20">
			 <a href="#" target="_blank" class="btn btn-danger btn-block waves-effect waves-light">Ingresar Beneficio</a>
		 </div>
		-->

	</div>
</div>
